<h4>What's in your fridge?</h4>

<form action="/searchFridge" method="GET" class="bodyDiv">
  <div class="row">
    <div class="col s8 offset-s2">
      <input type="text" name="q" placeholder="What ingredients do you have?" required>
      <button type="submit" class="btn btn-primary">Find Recipies</button>
    </div>
  </div>
</form>

<h2>Here are your recipes</h2>

<% data.forEach(function(results) { %>
  <div class="imageDiv">
    <h4 class="imageDiv"><a href="<%= results.href %>"><%= results.title %></a></h4>
    <img class="materialboxed" src="<%= results.thumbnail %>" alt="<%= results.title %>">
  <form action="/profile/:id" method="POST">
    <input type="hidden" name="title" value="<%= results.title %>">
    <input type="hidden" name="href" value="<%= results.href %>">
    <button type="submit" class="waves-effect waves-light btn">Add to Favorites</button>
  </form> 
  </div>
<% }); %>




